{%extends 'PM_index.html'%}
{%load static%}
{% load rest_framework %}

{%block css%}
<style>
    .col-lg-6.mb-4 {
        margin: 0px 0px 5px !important;
        padding: 0px 5px;
        height: 80% !important;
    }

    .card-header.py-3 {
        padding: 10px 20px !important;

    }

    .card_title {
        color: #ffffff;
    }

</style>
{% endblock %}

{% block navbar%}
<nav class=" navbar navbar-expand-lg navbar-dark bg-success">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <a class="navbar-brand" id="se_logo" href={% url 'homepage' %}><img src="{% static 'img/logo.png' %}" alt="PMO"
                                                                            style="max-width:180px;margin-top:0px;"/></a>
        <h1 class="card_title">PEP/OCP&lt;PEPXXX&gt;/project name/Cluster/Plant</h1>
    </div>
</nav>

<!-- css -->
<link href="{% static 'bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<style>
    #se_logo {
        float: right !important;
    }
</style>

{% endblock %}


{% block content %}

<!-- Content Row -->
<div class="row mt-2">
    <div class="col-lg-6 mb-4" id="summary_card">

        <!-- Project Summary -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Project Summary</h6>
            </div>
            <div class="card-body">
                <p>Hey, guys! I am a paragraph. This is a test PEP project.
                    I don't think you can do it yourself, but if you want to earn money, you
                    must!asdkfhlkjsafhasjdkflahljfhsal
                    kjkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                    Hey, guys! I am a paragraph. This is a test PEP project.
                    I don't think you can do it yourself, but if you want to earn money, you
                    must!asdkfhlkjsafhasjdkflahljfhsal
                    kjkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</p>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
                    unDraw &rarr;</a>
            </div>
        </div>

    </div>
    <div class="col-lg-6 mb-4">

        <!-- Project KPIs -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Project KPIs</h6>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-6 mb-4">
                        <div class="card bg-primary text-white shadow">
                            <div class="card-body">
                                COGS
                                <div class="text-white-50 small">100k</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-4">
                        <div class="card bg-success text-white shadow">
                            <div class="card-body">
                                Productivity
                                <div class="text-white-50 small">500k</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Content Column -->
    <div class="col-lg-6 mb-4">

        <!-- Project Risk -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Projects Risk</h6>
            </div>
            <div class="card-body">
                <h4 class="small font-weight-bold">Server Migration <span
                        class="float-right">20%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"
                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Sales Tracking <span
                        class="float-right">40%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"
                         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Customer Database <span
                        class="float-right">60%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 60%"
                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Payout Details <span
                        class="float-right">80%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                         aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Account Setup <span
                        class="float-right">Complete!</span></h4>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <!-- Schedule -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Project Schedule</h6>
            </div>
            <div class="card-body">
                <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce
                    CSS bloat and poor page performance. Custom CSS classes are used to create
                    custom components and custom utility classes.</p>
                <p class="mb-0">Before working with this theme, you should become familiar with the
                    Bootstrap framework, especially the utility classes.</p>
            </div>
        </div>

    </div>

    <div class="col-lg-6 mb-4">
        <!-- Actions -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Project Actions</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <!--                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"-->
                    <!--                         src="img/undraw_posting_photo.svg" alt="">-->
                </div>
                <p>Add some quality, svg illustrations to your project courtesy of <a
                        target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
                    constantly updated collection of beautiful svg images that you can use
                    completely free and without attribution!</p>


                <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
                    unDraw &rarr;</a>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block js %}
<script>
    console.log("我丢你楼某！")

</script>
{% endblock %}
