{%extends 'PM_index.html'%}
{%load static%}
{% load rest_framework %}

{%block css%}
<style>

    .col-lg-6.mb-4 {
        margin: 0px 0px 5px !important;
        padding: 0px 5px;
    }

    .card.shadow.mb-4 {
        margin-bottom: 0.5rem !important;
    }

    .card-header.py-3 {
        padding: 10px 20px !important;
    }

    .card_title {
        color: #ffffff;
    }

  .time-horizontal {
    list-style-type: none;
    border-top: 1px solid #707070;
    max-width: 800px;
    padding: 0px;
    margin: 0px;
}

  .time-horizontal li {
      float: left;
      position: relative;
      text-align: center;
      width: 25%;
      padding-top: 10px;
  }

  .time-horizontal li b:before {
      content: '';
      position: absolute;
      top: -10px;
      left: 47%;
      width: 12px;
      height: 12px;
      border: 2px solid #4c4c4c;
      border-radius: 8px;
      background: #4c4c4c;
  }

</style>
{% endblock %}

{% block navbar%}
<nav class=" navbar navbar-expand-lg navbar-dark bg-success">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <a class="navbar-brand" href={% url 'homepage' %}><img src="{% static 'img/logo.png' %}" alt="PMO"
                                                               style="max-width:180px;margin-top:0px;"/></a>
        <h1 class="card_title">{{serializer.Project_name.value}} / {{serializer.Cluster.value}} / {{serializer.Plant.value}}</h1>
    </div>
</nav>
<!-- css -->
<link href="{% static 'bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

{% endblock %}


{% block content %}

<!-- Content Row -->
<div class="row mt-2">
    <div class="col-lg-6 mb-4" id="summary_card">

        <!-- Project Summary -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Project Summary</h6>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <img width="200px" height="200px"src="{{serializer.Picture.value}}">
                </div>
                <div class="col-md-8">
                  <p>{{card.Summary}}</p>
                  <p>This is the picture address. {{serializer.Picture.value}} You can also put something else here.</p>
                </div>
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th>Region</th>
                      <th>Name</th>
                      <th>Leader</th>
                      <th>BU</th>
                      <th>Lob</th>
                      <th>Plant</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{serializer.Region.value}}</td>
                      <td>{{serializer.Project_name.value}}</td>
                      <td>{{serializer.Project_leader.value}}</td>
                      <td>{{serializer.BU.value}}</td>
                      <td>{{serializer.Lob.value}}</td>
                      <td>{{serializer.Plant.value}}</td>
                    </tr>
                  </tbody>
              </table>
              </div>
            </div>
        </div>

    </div>
    <div class="col-lg-6 mb-4">

        <!-- Project KPIs -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Project KPIs</h6>
            </div>
            <div class="card-body">
              <table class="table table-sm">
                  <thead>
                    <tr>
                      <th>KPI</th>
                      <th>Target</th>
                      <th>Actual</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>COGS</td>
                      <td>{{serializer.target_COGS.value}}</td>
                      <td>{{serializer.Additional_COGS.value}}</td>
                    </tr>
                    <tr>
                      <td>Prod</td>
                      <td>{{serializer.target_Prod.value}}</td>
                      <td>{{serializer.Productivity.value}}</td>
                    </tr>
                    <tr>
                      <td>Capex</td>
                      <td>{{serializer.target_Prod.value}}</td>
                      <td>{{serializer.Productivity.value}}</td>
                    </tr>
                    <tr>
                      <td>Space</td>
                      <td>{{serializer.target_Space.value}}</td>
                      <td>{{serializer.Space_needed.value}}</td>
                    </tr>
                    <tr>
                      <td>Y+3 QTY</td>
                      <td>{{serializer.target_Y_3_QTY.value}}</td>
                      <td>{{serializer.Y_3_QTY.value}}</td>
                    </tr>
                    <tr>
                      <td>Expense</td>
                      <td>{{serializer.target_Expense.value}}</td>
                      <td>{{serializer.Expense.value}}</td>
                    </tr>
                    <tr>
                      <td>Payback</td>
                      <td>{{serializer.target_Payback.value}}</td>
                      <td>{{serializer.Payback.value}}</td>
                    </tr>
                  </tbody>
              </table>
            </div>
        </div>

    </div>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Content Column -->
    <div class="col-lg-6 mb-4">

      <!-- Schedule -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Project Schedule & Risks</h6>
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Type</th>
                <th>Open</th>
                <th>Do</th>
                <th>IMP</th>
                <th>Produce</th>
                <th>Sell</th>
                <th>Close</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Target</td>
                <td>{{serializer.Open_date.value}}</td>
                <td>{{serializer.Do_date.value}}</td>
                <td>{{serializer.IMP_date.value}}</td>
                <td>{{serializer.Produce_date.value}}</td>
                <td>{{serializer.Sell_date.value}}</td>
                <td>{{serializer.Close_date.value}}</td>
              </tr>
              <tr>
                <td>Actual</td>
                <td>{{serializer.Open_date.value}}</td>
                <td>{{serializer.Do_date.value}}</td>
                <td>{{serializer.IMP_date.value}}</td>
                <td>{{serializer.Produce_date.value}}</td>
                <td>{{serializer.Sell_date.value}}</td>
                <td>{{serializer.Close_date.value}}</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-sm">
              <thead>
                <tr>
                  <th> </th>
                  <th>Risk</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Risk1</td>
                  <td>{{serializer.Risk1.value}}</td>
                </tr>
                <tr>
                    <td>Risk2</td>
                    <td>{{serializer.Risk2.value}}</td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mb-4">
      <!-- Actions -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Project Action</h6>
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Action Completed</th>
                <th>Action Coming</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{serializer.Action1.value}}</td>
                <td>{{serializer.Action1.value}}</td>
              </tr>
              <tr>
                <td>{{serializer.Action2.value}}</td>
                <td>{{serializer.Action2.value}}</td>
              </tr>
              <tr>
                <td>{{serializer.Action3.value}}</td>
                <td>{{serializer.Action3.value}}</td>
              </tr>
              <tr>
                <td>{{serializer.Action4.value}}</td>
                <td>{{serializer.Action4.value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>


</script>
{% endblock %}
