{% extends 'PM_index.html' %}
{% load static %}
{% block content %}

<!-- Project DataTale -->
<div class="card shadow mb-4 mt-1">
    <!-- 卡片的主体部分-->
    <div class="card-body">
        <div class="table-responsive">
            <div class="columns columns-right btn-group pull-left">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ProAddModal">新增项目
                </button>
            </div>
            <table id="table" data-toggle="table" data-search="true" data-show-refresh="true"
                   data-show-toggle="true"
                   data-show-columns="true"
                   data-show-export="true"
                   data-minimum-count-columns="2"
                   data-show-pagination-switch="true"
                   data-pagination="true"
                   data-response-handler="responseHandler">
            </table>
        </div>
    </div>
</div>

{% include 'ProMGT_Modal.html' %}

{% endblock %}

{% block css %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'bootstrap-table.css' %}">
<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
{% endblock %}


{% block js %}

<!-- Page level plugins -->
<script src="{% static 'bootstrap-table.min.js' %}"></script>
<!--<script src="https://unpkg.com/bootstrap-table@1.18.1/dist/locale/bootstrap-table-zh-CN.min.js"></script>-->

<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table-locale-all.min.js"></script>
<script>
    var $table = $('#table')
    var $remove = $('#remove')
    var selections = []

    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        })
    }

    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1
        })
        return res
    }

    function detailFormatter(index, row) {
        var html = []
        $.each(row, function (key, value) {
            html.push('<p><b>' + key + ':</b> ' + value + '</p>')
        })
        return html.join('')
    }

    function operateFormatter(value, row, index) {
        return [
            '<a class="edit" href="javascript:void(0)" title="edit">',
            '<i class="fa fa-pencil"></i>',
            '</a>  ',
            '<a class="remove" href="javascript:void(0)" title="Remove">',
            '<i class="fa fa-trash"></i>',
            '</a>'
        ].join('')
    }

    window.operateEvents = {
        //修改项目内容
        'click .edit': function (e, value, row, index) {
            // alert('You click edit action, row: ' + JSON.stringify(row))
            var edit_id = row.id;
            $("#updated_Region").val(row.Region);
            $("#updated_Name").val(row.Project_name);
            $("#updated_Leader").val(row.Project_leader);
            $("#updated_Cluster").val(row.Cluster);
            $("#updated_BU").val(row.BU);
            $("#updated_Plant").val(row.Plant);
            $("#updated_Type").val(row.Project_type);
            $("#updated_Curr_stage").val(row.Current_status);
            $("#updated_COGS").val(row.Additional_COGS);
            $("#updated_PROD").val(row.Productivity);
            $("#updated_CAPEX").val(row.CAPEX);
            $("#updated_Space").val(row.Space_needed);
            $('#ProEditModal').modal('show')

            //提交项目修改
            $('#edit_submit').click(function () {
                var updated_Region = $("#updated_Region").val();
                var updated_Name = $("#updated_Name").val();
                var updated_Leader = $("#updated_Leader").val();
                var updated_Cluster = $("#updated_Cluster").val();
                var updated_BU = $("#updated_BU").val();
                var updated_Plant = $("#updated_Plant").val();
                var updated_Type = $("#updated_Type").val();
                var updated_Curr_stage = $("#updated_Curr_stage").val();
                var updated_COGS = $("#updated_COGS").val();
                var updated_PROD = $("#updated_PROD").val();
                var updated_CAPEX = $("#updated_CAPEX").val();
                var updated_Space = $("#updated_Space").val();
                // var data = $('#edit_project').serialize();
                // var jsonData = DataDeal.formToJson(data);
                // console.log(jsonData)

                $.ajax({
                    type: "POST",
                    data: {
                        ID: edit_id,
                        Region: updated_Region,
                        Name: updated_Name,
                        Leader: updated_Leader,
                        Cluster: updated_Cluster,
                        BU: updated_BU,
                        Plant: updated_Plant,
                        Type: updated_Type,
                        Curr_stage: updated_Curr_stage,
                        COGS: updated_COGS,
                        PROD: updated_PROD,
                        CAPEX: updated_CAPEX,
                        Space: updated_Space
                    },
                    url: "/ProMGT/edit_project/",
                    // data: jsonData,
                    cache: false,
                    // contentType: "application/json; charset=utf-8",
                    success: function (result, statues, xml) {
                        alert("修改成功");                                         //成功时弹出view传回来的结果
                    },
                    error: function () {
                        alert("修改失败");
                        alert(edit_id);

                    }
                });
                return false;
            });
            $('#ProEditModal').modal('hide')
        },

        //删除项目
        'click .remove': function (e, value, row, index) {
            $table.bootstrapTable('remove', {
                field: 'Name',
                values: [row.Name]
            });
            $.ajax({
                url: "delete_project/",
                type: 'POST',
                traditional: true,
                async: false,
                data: {
                    'Name': row.Name
                },
                success: function () {
                    alert("删除成功");
                },
                error: function () {
                    alert("删除失败");
                }
            })
        }
    }

    function initTable() {
        $table.bootstrapTable('destroy').bootstrapTable({
            url: '/ProMGT/projects/',
            method: 'GET',
            height: 550,
            locale: $('#locale').val(),
            columns: [
                {
                    title: 'Item ID',
                    field: 'id',
                    align: 'center',
                    sortable: true,
                },
                {
                    title: 'Region',
                    field: 'Region',
                    align: 'center',
                    sortable: true,
                },
                {
                    field: 'Project_name',
                    title: 'Name',
                    align: 'center',
                    sortable: true,
                },
                {
                    field: 'Project_leader',
                    title: 'Leader',
                    align: 'center',
                    sortable: true,
                },
                {
                    field: 'Cluster',
                    title: 'Cluster',
                    align: 'center',
                    sortable: true,
                },
                {
                    field: 'BU',
                    title: 'BU',
                    align: 'center',
                    sortable: true,
                },
                {
                    field: 'Lob',
                    title: 'Lob',
                    align: 'center',
                    sortable: true,
                },
                {
                    field: 'Plant',
                    title: 'Plant',
                    align: 'center',
                    sortable: true,
                },
                {
                    field: 'Current_status',
                    title: 'Current stage',
                    align: 'center',
                    sortable: true,
                },
                {
                    field: 'Project_type',
                    title: 'Type',
                    align: 'center',
                    sortable: true,
                },
                {
                    field: 'Project_code',
                    title: 'Code',
                    align: 'center',
                    sortable: true,
                },
                {
                    field: 'Additional_COGS',
                    title: 'COGS',
                    align: 'center',
                    sortable: true,
                },
                {
                    field: 'Productivity',
                    title: 'Productivity',
                    align: 'center',
                    sortable: true,
                },
                {
                    field: 'CAPEX',
                    title: 'CAPEX',
                    align: 'center',
                    sortable: true,
                },
                {
                    field: 'Space_needed',
                    title: 'Space',
                    align: 'center',
                    sortable: true,
                },
                {
                    field: 'operate',
                    title: 'Item Operate',
                    align: 'center',
                    clickToSelect: false,
                    events: window.operateEvents,
                    formatter: operateFormatter
                }
            ],
            pageNumber: 1,
            pageSize: 10,
            pageList: [10, 20, 50, 100],
        })
        $table.on('check.bs.table uncheck.bs.table ' +
            'check-all.bs.table uncheck-all.bs.table',
            function () {
                $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)

                // save your data, here just save the current page
                selections = getIdSelections()
                // push or splice the selections if you want to save all data selections
            })
        // $table.on('all.bs.table', function (e, name, args) {
        //     console.log(name, args)
        // })
        $remove.click(function () {
            var ids = getIdSelections()
            $table.bootstrapTable('remove', {
                field: 'id',
                values: ids
            })
            $remove.prop('disabled', true)
        })
    }

    //初始化表格
    $(function () {
        initTable()

        $('#locale').change(initTable)
    })

    $.ajaxSetup({
        contentType: "application/x-www-form-urlencoded; charset=utf-8"
    });
    var DataDeal = {
        //将从form中通过$('#form').serialize()获取的值转成json
        formToJson: function (data) {
            data = data.replace(/&/g, "\",\"");
            data = data.replace(/=/g, "\":\"");
            data = "{\"" + data + "\"}";
            return data;
        },
    };


</script>

{% endblock %}
