{% load static %}
<nav class=" navbar navbar-expand-lg navbar-dark bg-success">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="{% url 'homepage' %}"><img src="{% static 'img/logo.png' %}" alt="PMO" style="max-width:180px;margin-top:0px;"/></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		<li class="nav-item dropdown">
			<a data-toggle="dropdown" class="dropdown-toggle nav-link">Projects<strong class="caret"></strong></a>
			<ul class="dropdown-menu">
				<li><a href="{% url 'project_dashboard' %}">Project Dashboard</a></li>
				<li><a href="{% url 'ProMGT' %}">Project Management</a></li>

			</ul>
		</li>
      <li class="nav-item">
        <a class="nav-link" href=''>Competency</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Business</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Knowledge</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- css -->
<link href="{% static 'bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

